.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 10px;
}

.screen-header__title{
    font-size: 28px;
    font-weight: 600;
    align-items: center;
}

.screen-header__icons span{
    margin-left: 15px;
    position: relative;
}

.screen__notification_dot{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    left: 55px;
    bottom: 20px;
}

.screen__notification_dot-1{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    left: 90px;
    bottom: 20px;
}